@import '../../styles.scss';

.otherDummy {
  flex: 5.8;
  height: calc(100vh - 70px);
  position: sticky;
  overflow: scroll;
  display: flex;
  flex-direction: column;

  .container {
    margin: 40px 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;

    @media (max-width: 1023px) {
      margin: 40px 20px;
    }

    h1 {
      font-weight: 500;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
    }
  }
}
